# Compiler files
cache/
out/

# Ignores development broadcast logs
/broadcast

# Docs
docs/

# Dotenv file
.env

# logs file
log/

# Node related
node_modules/

# Code coverage file
lcov.info

# OS related
.DS_Store